* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

body {
  background-color: #a7e6ff;
  background: linear-gradient(to right, #537a96, #035f94);
}
.container {
  background: #fff;
  width: 450px;
  padding: 1.5rem;
  margin: 250px auto;
  border-radius: 10px;
  box-shadow: 0px 20px 35px rgb(0, 0, 0.9);
}

form {
  margin: 0 1rem;
}
.form-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  padding: 1.3rem;
  margin-bottom: 0.4rem;
}

input {
  color: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  padding-left: 1.5rem;
  font-size: 15px;
}

.input-group {
  padding: 1% 0;
  position: relative;
}
.input-group i {
  position: absolute;
  color: black;
}

input:focus {
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px solid hsl(327, 90%, 28%);
}
input::placeholder {
  color: transparent;
}

label {
  color: #757575;
  position: relative;
  top: -1.3rem;
  left: 1.2rem;
  cursor: auto;
  transition: 0, 3s ease all;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -3rem;
  color: hsl(327, 90%, 28%);
  font-size: 15px;
}

.recover {
  text-align: right;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.recover a {
  text-decoration: none;
  color: rgb(125, 125, 125);
}

.recover a:hover {
  color: blue;
  text-decoration: underline;
}

.btn {
  font-size: 1.1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  background: #537a96;
  color: white;
  cursor: pointer;
  transition: 0.9s;
}

.btn:hover {
  background: #07001f;
}

.or {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.icons {
  text-align: center;
}

.icons i {
  color: #537a96;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
  margin: 0 15px;
  transition: 0.5s;
}

.icons i:hover {
  background: #07001f;
  font-size: 1.3rem;
  border: 2px solid #537a96;
}

.links {
  display: flex;
  justify-content: space-around;
  margin-top: 0.9rem;
  padding: 0 4rem;
}

button {
  color: #537a96;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  text-decoration: underline;
  color: blue;
}

@media (max-width: 375px) {
  .container {
    width: 350px;
  }
  .icons {
    display: flex;
  }
  .icons i {
    padding: 0.3rem 0.3rem;
  }
  .links {
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 490px) {
  .container {
    width: 350px;
  }
  .icons {
    display: flex;
  }
  .icons i {
    padding: 0.3rem 0.3rem;
  }
  .links {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
